#top {
    position: relative;
    background-color: navy;
    color: white;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 165px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: left;
    background-color: #dddddd;
    padding: 50px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}
.cabecera {
    float:left;
}
h1.cabecera{
    margin-top:50px;
    align-content: center;
    margin-left:450px;
}
.menu{
    float:right;
}
.menu li{
    float:left;
    margin-right: 35px;
    margin-top: 110px;
    list-style: none;
}
.menu span{
    font-size: 18px;
}
